<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--Project Root-->
    <add key="projectPath" value="D:\Ken\Projects\Repos\FBLM\" />
    <!--Module Directory-->
    <!--符號「$」表示要取代成模組名稱的位置-->
    <add key="directoryCoreModule" value="LIB_Silverlight\Fablink.Core" />
    <add key="directoryOtherModule" value="FabLink_Standard$\FabLink_Standard$.UI" />
    <!--Resource Directory-->
    <add key="directoryResource" value="Resource" />
    <!--Core Module File Name-->
    <add key="fileNameCoreTW" value="CoreResource.zh-TW.resx" />
    <add key="fileNameCoreCN" value="CoreResource.zh-CN.resx" />
    <add key="fileNameCoreEN" value="CoreResource.resx" />
    <!--Other Module File Name-->
    <add key="fileNameTW" value="StringResource.zh-TW.resx" />
    <add key="fileNameCN" value="StringResource.zh-CN.resx" />
    <add key="fileNameEN" value="StringResource.resx" />
    <!--App Option-->
    <add key="IsWriteFile" value="true" />
    <add key="Memo" value="PS. 寫入檔案後，還要去修改存取修飾詞，重建資源檔案！" />
  </appSettings>
</configuration>